@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

/* html {
  overflow-y: scroll;
  scroll-behavior: smooth;
} */

ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

textarea {
  resize: none;
  outline: none;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
}

body {

  min-height: 100vh;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
:focus-visible {
  outline: 0 !important;
  box-shadow: none !important;
}